@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

@import './base/variables';
@import './base/mixins';
@import './components/shared';
@import './components/lesson-header';
@import './components/video-wrapper';
@import './components/grid';
@import './components/card';
@import './components/accordion';
@import './components/quiz';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* Font size is now set to 10px. 1rem = 10px */
}

body {
  font-family: $primaryFont;
  background-color: $white;
}

h1,
h2,
h3 {
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

p {
  color: $textColor;
  font-size: 1.8rem;
}