.lesson {
  font-size: 2rem;

  &-header {
    background-color: $primaryColor;
    color: $white;
  }

  &-title {
    font-size: 2rem;
    line-height: 8rem;

    @include device-minmax(400px, 499px) {
      font-size: 2.5rem;
    }

    @include device-min(500px) {
      font-size: 3.2rem;
    }    
  }

  &-description {
    color: $white;
  }
}