.lesson-header {
  background-color: $primaryColor;
  color: $white;
}

.lesson {
  font-size: 2rem;
}

.lesson-title {
  font-size: 2rem;
  line-height: 8rem;

  @include device-minmax(400px, 499px) {
    font-size: 2.5rem;
  }

  @include device-min(500px) {
    font-size: 3.2rem;
  }
}

.lesson-description {
  font-size: 1.8rem;
}